
.active{
    background-color: #1d4ed8;
}

.mainbanner {
    background-image: url('../../Assets/Images/bannerhadiqa.png');
    width: 100%;
    height: calc(100vh - 120px);
    background-size: cover;
    background-position: center;
    color: white;
    /* padding-top: -120px; */
    margin-top: -32px;
    padding-left: 80px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.carsavaialble {
    background-image: url('../../Assets/Images/bb.png');
    width: 80%;
    /* height: calc(100vh - 230px); */
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 120px;
    margin-left: 130px;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.mainbanner h1 {
    margin-top: 70px;
    font-size: 45px;
    /* Adjust the font size for larger screens */
}

.mainbanner h3 {
    font-size: 35px;
    color: blue
        /* Adjust the font size for larger screens */
}

.prod-div {
    margin-top: 50px;
    margin-bottom: 10px;
    height: 280px;
    width: 20%;
    min-width: 280px;
    margin-right: 1px;
    /* position: absolute; */
}

.first-prod-div {
    width: 100%;
    cursor: pointer;
}

.img-div img {
    width: 100%;
    height: 150px;
}

.prod-desc {
    height: 80px;
}

.prod-name {
    color: #283043;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    text-transform: uppercase;
}

.prod-rate {
    color: rgb(161, 0, 0);
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}

.prod-div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.mainFooter {
    background: #171c24;
    width: 100%;
    /* height: 90px; */
    /* margin-top: 150px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
    flex-wrap: wrap;
    min-width: 60%;
    /* display: flex; */
    /* justify */
}

.Footerlistdiv ul {
    display: flex;
    align-items: center;
}

.Footerlistdiv ul li {
    margin-top: 25px;
    list-style: none;
}

.mainFooter ul li a:not(.active):hover {
    font-weight: Bold;
}

.FooterLogo {
    color: #fff;
    /* font-size: 1.5rem; */
    font-weight: bold;
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    margin-left: 30px;
}

.Footerlist {
    color: white;
    /* margin-right: 60px; */
    align-items: center;
    cursor: pointer;
}

/* .FooterLogo:hover {
    font-weight: bold;
} */

.Footerlist:hover {
    font-weight: bold;
}

.FooterButton:hover {
    font-weight: bold;
}

.FooterButton {
    width: 200px;
    background-color: #283043;
    color: white;
    cursor: pointer;
    /* margin-right: 40px;
    margin-left: 5px;
    margin-Right: 10px; */
    display: block;
    padding: 0.7rem;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    font-size: 30;
    cursor: pointer;
    /* margin-top: 13px; */
    text-align: center;
}

.AddCarButton:hover {
    font-weight: bold;
}

.AddCarButton {
    width: 200px;
    background-color: #283043;
    color: white;
    cursor: pointer;
    /* margin-right: 40px;
    margin-left: 5px;
    margin-Right: 10px; */
    display: block;
    padding: 0.7rem;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    font-size: 30;
    cursor: pointer;
    /* margin-top: 13px; */
    text-align: center;
    margin: auto;
    margin-top: 5px;
}

.UploadImageButton:hover {
    font-weight: bold;
}

.UploadImageInput {
    text-align: center
}

.UploadImageButton {
    width: 150px;
    background-color: #d4d6d9;
    color: #283043;
    cursor: pointer;
    border-color: 1px solid #283043;
    /* display: block; */
    padding: 0.2rem;
    border-radius: 0.2rem;
    /* font-size: 7; */
    cursor: pointer;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-right: 20px;
}

.bookNowButton:hover {
    font-weight: bold;
}

.bookNowButton {
    width: 200px;
    background-color: #283043;
    color: white;
    cursor: pointer;
    /* margin-right: 40px;
    margin-left: 5px;
    margin-Right: 10px; */
    display: block;
    padding: 0.7rem;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    font-size: 30;
    cursor: pointer;
    /* margin-top: 13px; */
    text-align: center;
    /* margin: auto;
    margin-top: 5px; */
}
.EditCarButton:hover {
    font-weight: bold;
}

.EditCarButton {
    width: 200px;
    background-color: #e6e6e6;
    color: #283043;
    cursor: pointer;
    /* margin-right: 40px;
    margin-left: 5px;
    margin-Right: 10px; */
    display: block;
    padding: 0.7rem;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    font-size: 30;
    cursor: pointer;
    /* margin-top: 13px; */
    text-align: center;
    /* margin: auto;
    margin-top: 5px; */
    margin-right: 10px;
}


.FooterLogoutButton {
    width: 100px;
    background-color: #283043;
    color: white;
    cursor: pointer;
    /* margin-right: 40px;
    margin-left: 5px;
    margin-Right: 10px; */
    display: block;
    padding: 0.7rem;
    /* margin: 1rem 0.5rem; */
    border-radius: 0.5rem;
    font-size: 30;
    cursor: pointer;
    /* margin-top: 13px; */
    text-align: center;
}

.AboutMainHead {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #283043;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}

.AboutHeads2 {
    /* margin-top: 40px; */
    /* margin-bottom: 15px; */
    color: #283043;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.AboutHeads {
    margin-top: 20px;
    margin-bottom: 15px;
    color: #db2b39;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    
}
.AboutHeads3 {
    margin-top: 40px;
    margin-bottom: 15px;
    color: #283043;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.AboutHeads4 {
    margin-top: 100px;
    /* margin-bottom: 15px; */
    color: #db2b39;
    font-weight: bold;
    font-size: 50px;
    font-style: italic;
    
}

.AboutPara {
    color: #283043;
    margin-bottom: 30;
}

.AboutlistHead {
    color: #283043;
    font-weight: bold;
}

.transporterbookedCar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.TransporterBookedCarpic {
    width: 500px;
    height: 300px;
}

.booknowinput {
    /* text-align: right; */
    margin-bottom: 10
}

.bookedcarpara {
    font-weight: bold;
    font-size: 20px
}

.bookedcarpara2 {
    font-size: 20px
}
.bookedcarpara3 {
    font-weight: bold;
    font-size: 20px
}

.bookedcarpara4 {
    font-size: 20px
}

/* .popup2-img {
    Width: 70px;
    Height: 70px;
}

.popup2-para {
    font-size: 20px;
    font-family: 'redHat-Bold';
    margin: 0;
    margin-top: 22px;

}

.popup2 {
    display: none;
    position: fixed;
    width: 312px;
    height: 261px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    border-radius: 20px;
}

#goBackBtn {
    background: linear-gradient(312.67deg, #F9B401 5.15%, #FCDD8E 134.92%);
    color: #0B105C;
    margin-top: 16px;
    border-radius: 7px;
    width: 272px;
    height: 36px;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    font-family: 'redHat-Bold';
    font-weight: 600;
}  */

@media (max-width: 494px) {
    .bookedcarpara {
        font-size: 15px
    }
    
    .bookedcarpara2 {
        font-size: 15px
    }
}
@media (max-width: 563px) {
    .bookedcarpara3 {
        font-size: 15px
    }
    
    .bookedcarpara4 {
        font-size: 15px
    }
}
@media (max-width: 580px) {
    .TransporterBookedCarpic {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 700px) {
    .UploadImageInput {
        margin-left: 100px;
    }
}

@media (max-width: 1199px) {
    .booknowinput {
        /* text-align: left; */
        padding: '5px'
    }
}

@media (max-width: 1200px) {
    .mainbanner {
        padding-left: 40px;
    }

    .mainbanner h1 {
        width: 40%;
        font-size: 40px;
        /* Adjust the font size for medium screens */
    }

    .mainbanner h3 {
        width: 40%;
        font-size: 30px;
        /* Adjust the font size for medium screens */
    }
}

@media (max-width: 767px) {
    .transporterbookedCar {
        justify-content: space-between
    }

    .prod-div {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 700px) {
    .mainFooter {

        display: flex;
        flex-direction: column;
    }

    .Footerlistdiv ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .FooterLogoutButton {
        /* margin-left: auto; */
        /* margin-right: 50%; */
    }

    .FooterButton {
        /* margin-left: 0;
        margin-right: 0; */
    }
}

@media (max-width: 992px) {
    .mainbanner {
        height: calc(50vh - 100px);
        /* padding-top: 100px; */
    }

    .mainbanner h1 {
        font-size: 2rem;
        /* margin-top: 20px; */
        width: 40%;
        /* Adjust the font size for medium screens */
    }

    .mainbanner h3 {
        font-size: 1.2rem;
        /* Adjust the font size for medium screens */
    }
}

@media (max-width: 768px) {
    .mainbanner {
        height: calc(50vh - 100px);
        /* padding-top: 80px; */
    }

    .mainbanner h1 {
        font-size: 1.8rem;
        /* Adjust the font size for smaller screens */
    }

    .mainbanner h3 {
        font-size: 1rem;
        /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 576px) {
    .mainbanner {
        height: calc(50vh - 100px);
        padding-top: 60px;
        padding-left: 20px;
    }

    .mainbanner h1 {
        font-size: 1.5rem;
        /* Adjust the font size for extra small screens */
    }

    .mainbanner h3 {
        font-size: 0.9rem;
        /* Adjust the font size for extra small screens */
    }
}

@media (max-width: 480px) {
    .mainbanner {
        height: calc(40vh - 100px);
        padding-top: 40px;
        padding-left: 10px;
    }

    .mainbanner h1 {
        font-size: 1.2rem;
        /* Adjust the font size for the smallest screens */
    }

    .mainbanner h3 {
        font-size: 0.8rem;
        /* Adjust the font size for the smallest screens */
    }
}